body {

	background: url('../img/bg.gif');

}

.site-wrapper {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.site-wrapper h1, .site-wrapper h2 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;

}

.content-area {
	padding: 0 30px;
	padding-bottom: 0px;
	background: white;
	box-shadow: 0 0 5px #333333;
}

.well-list-tile {

	padding: 5px 10px;
	background: white;
	box-shadow: 0 0 2px #333333;
	margin-bottom: 15px;

	height: 90px;

}

.well-list-tile:last-child {
	margin-bottom: 0;
}

.dasb-well-list {

	height: 300px;


	overflow-y: scroll;
	overflow-x: hidden;

	border-width: 2px;


}

.tile-title {
	font-size: 1.5em;
}

#btn-sched-event {
	margin-top: 15px;
}

.clearfix {
	clear: both;
}
.type-input{
	display: inline;
}

.schedule-label {
    width: 80px;
    clear: left;
    text-align: right;
    padding-right: 20px;
}

input, .schedule-label {
    //float: left;
}
.type-input-span {
	padding-right: 10px;
}

.type-input-submit {
	width: 80px;
    text-align: right;
    padding-right: 20px;

}